.kaufman__triangle {
  position: absolute;
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  background-size: cover;
  background-image: url(../../../images/kaufman-triangle.svg);
  animation: rotation 20s ease-in-out infinite ;
}
